@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f2f3;
  color: #333;
}

ul {
  list-style-type: none;
}

.container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
.quiz {
  padding: 30px;
  margin: 0 auto;
}
.quiz__title {
  font-size: clamp(24px, 2vw, 48px);
}
.quiz__list {
  margin-top: 40px;
  margin-left: 40px;
  font-size: clamp(24px, 3vw + 1rem, 32px);
}

.quiz__item {
  margin-bottom: 15px;
}

.quiz__input {
  width: 1px;
}

.quiz__label {
  position: relative;
  cursor: pointer;
}

.quiz__label:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: #333;
  border-radius: 50%;
}

.quiz__label:after {
  content: '';
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
  background: #f1f2f3;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  opacity: 0;
  transition: all 0.3s ease;
}

.quiz__input:checked + label:after {
  opacity: 1;
}

.quiz__btn {
  margin-top: 40px;
  width: 100%;
  display: block;
  background: purple;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease;
  cursor: pointer;
}

.quiz__btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.quiz__btn:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(0.95) translate(-2px, 2px);
  background: rgb(59, 0, 59);
}
